/* 改变主题色变量 */
$--color-primary: #00C1DE;


$--color-success: #2ECC71;
$--color-warning: #FFA847;
$--color-danger: #F04844;
$--color-info: #3498DB;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
